@mixin common-style {
  display: block;
  color: #fff;
  text-align: center;
  font-family: "NotoSerif", Serif;
  word-break: keep-all;
}

.common-title {
  @include common-style;
  font-size: 5.5rem;
  font-weight: 600;
  color: #fff;
  line-height: 7.7rem;
  letter-spacing: -2.52px;
}
.common-desc {
  @include common-style;
  margin-top: 2.6rem;
  font-size: 2.2rem;
  font-weight: 500;
  color: #fff;
  line-height: 3.8rem;
  letter-spacing: -0.75px;
}
