@mixin common-style {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.event {
  background: url("../../assets/images/section02.jpg") center no-repeat;
  background-size: cover;
  .inner {
    display: flex;
    & > div {
      width: 50%;
    }
    .left-side {
      & > * {
        text-align: left;
      }
      .menu-list-area {
        width: 30rem;
        margin-top: 5rem;
        .list-area li {
          border-bottom: 1px solid #ffffff73;
          position: relative;
          &:nth-child(1)::before {
            @include common-style;
            background-image: url("../../assets/images/icon/section02_icon01.png");
          }
          &:nth-child(2)::before {
            @include common-style;
            width: 29px;
            height: 29px;
            background-image: url("../../assets/images/icon/section02_icon02.png");
          }
          &:nth-child(3)::before {
            @include common-style;
            background-image: url("../../assets/images/icon/section02_icon03.png");
          }
          &::after {
            content: url("../../assets/images/icon/angle-right.svg");
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(-100%, -50%);
          }
          a {
            display: block;
            position: relative;
            padding: 2rem 4rem;
            font-size: 2rem;
            font-weight: 500;
            color: #fff;
            opacity: 0.7;
            transition: opacity 0.3s;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
